<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/form-style.css" th:href="@{../../css/form-style.css}"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<h3>Product</h3>
<div>
    <form th:object="${product}" th:action="@{/product/}" method="post">
        <div th:if="${#fields.hasAnyErrors()}">
            <p style="color: red">Please Correct Errors Below</p>
        </div>
        <input type="hidden" th:field="*{id}">

        <label>Name</label>
        <input type="text" th:field="*{name}" placeholder="Product description..."/>
        <span th:if="${#fields.hasErrors('name')}">
            <ul>
                <li style="color: red" th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
            </ul>
        </span>

        <label>Price</label>
        <input id="price-js" type="text" th:field="*{price}"/>
        <span th:if="${#fields.hasErrors('price')}">
            <ul>
                <li style="color: red" th:each="err : ${#fields.errors('price')}" th:text="${err}"/>
            </ul>
        </span>

        <label>Quantity</label>
        <input id="quantity-js" type="number" th:field="*{quantity}" min="0" required="true" th:value="1" value="2"/>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
<script>
    var $quantity = $("#quantity-js");
    if ($quantity.val() === "") {
        $quantity.val(1);
    }
    var $price = $("#price-js");
    if ($price.val() === "") {
        $price.val(0.01);
    }
</script>
</html>