<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/table-style.css" th:href="@{css/table-style.css}">
</head>
<body>
    <h2>Products</h2>
    <ul>
        <li><a href="#" th:href="@{'index'}">Home</a></li>
        <li><a href="#" th:href="@{'customers'}">Customers</a></li>
        <li><a href="#" th:href="@{'products'}">Products</a></li>
        <li><a href="#" th:href="@{'sales'}">Sales</a></li>
    </ul>
    <div th:if="${not #lists.isEmpty(products)}">
        <h3>All products</h3>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price per unit</td>
                <td>Quantity</td>
            </tr>
            </thead>
            <tr th:remove="all">
                <td>100</td>
                <td>Product 1 name</td>
                <td>99.00</td>
                <td>100</td>
                <td class="button"><button><a href="#">Edit</a></button></td>
                <td class="button"><button><a href="#">Delete</a></button></td>
            </tr>
            <tr th:remove="all">
                <td>200</td>
                <td>Product 2 name</td>
                <td>999.00</td>
                <td>200</td>
                <td class="button"><button><a href="#">Edit</a></button></td>
                <td class="button"><button><a href="#">Delete</a></button></td>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">300</td>
                <td th:text="${product.name}">Product 3 name</td>
                <td th:text="${product.price}">9999.00</td>
                <td th:text="${product.quantity}">300</td>
                <td class="button"><button><a href="#" th:href="@{'/product/' + ${product.id} + '/edit'}">Edit</a></button></td>
                <td class="button"><button><a href="#" th:href="@{'/product/' + ${product.id} + '/delete'}">Delete</a></button></td>
            </tr>
        </table>
    </div>
    <button style="margin-top: 5px;"><a href="form.html" th:href="@{'product/new'}" style="text-decoration: none">Add new product</a></button>
</body>
</html>