<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sale</title>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/form-style.css" th:href="@{../../css/form-style.css}"/>
</head>
<body>
<div>
    <form th:object="${sale}" th:action="@{/sale/}" method="post">

        <input type="hidden" th:field="*{id}">
        <label>Customer</label>
        <select name="customer.id">
            <option th:each="customer : ${customers}"
                    th:value="${customer.id}"
                    th:selected="${customer.id.equals(sale.customer.id)}"
                    th:text="${customer.name}">Random Customer</option>
        </select>
        <label>Product</label>
        <select name="product.id" id="product-id">
            <option th:each="product : ${products}"
                    th:value="${product.id}"
                    th:selected="${product.id.equals(sale.product.id)}"
                    th:text="${product.name}">Random Product</option>
        </select>
        <label>Products available:</label>
        <label id="product-quantity-js"></label>
        <label>Quantity</label>
        <input id="quantity-js" type="number" th:field="*{quantity}" min="1" required="true"/>

        <button type="submit" id="submit-js">Submit</button>
    </form>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/

    var productsList = [[${products}]];

    /*]]>*/

    var $product = $("#product-id");
    var $quantity = $("#quantity-js");
    var $submit = $("#submit-js");

    $quantity.val(1);

    function findById(id) {
        var result = $.grep(productsList, function (e) {
            return e.id == id;
        });
        return result[0].quantity;
    }

    $("#product-quantity-js").html(findById($product.val()));

    $product.on('change', function() {
        $("#product-quantity-js").html(findById($product.val()));
        if ($quantity.val() > findById(this.value)) {
            $submit.prop('disabled', true);
        } else {
            $submit.prop('disabled', false);
        }
    });

    if ($quantity.val() > findById($product.val())) {
        $submit.prop('disabled', true);
    } else {
        $submit.prop('disabled', false);
    }

    $quantity.on('input', function() {
        if (this.value > findById($product.val())) {
            $submit.prop('disabled', true);
        } else {
            $submit.prop('disabled', false);
        }
    });

</script>
</html>