<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/table-style.css" th:href="@{css/table-style.css}">
</head>
<body>
<h2>Sales</h2>
<ul>
    <li><a href="#" th:href="@{'index'}">Home</a></li>
    <li><a href="#" th:href="@{'customers'}">Customers</a></li>
    <li><a href="#" th:href="@{'products'}">Products</a></li>
    <li><a href="#" th:href="@{'sales'}">Sales</a></li>
</ul>
<div th:if="${not #lists.isEmpty(sales)}">
    <h3>All sales</h3>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Customer</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>Total</td>
        </tr>
        </thead>
        <tr th:remove="all">
            <td>100</td>
            <td>Customer 1</td>
            <td>Product 1</td>
            <td>1</td>
            <td>599.00</td>

        </tr>
        <tr th:remove="all">
            <td>200</td>
            <td>Customer 2</td>
            <td>Product 2</td>
            <td>1</td>
            <td>139.00</td>
        </tr>
        <tr th:each="sale : ${sales}">
            <td th:text="${sale.id}">300</td>
            <td th:text="${sale.customer.name}">Customer 3</td>
            <td th:text="${sale.product.name}">Product 3</td>
            <td th:text="${sale.quantity}">1</td>
            <td th:text="${sale.total}">199.00</td>
        </tr>
    </table>
</div>
<button style="margin-top: 5px;"><a href="form.html" th:href="@{'sale/new'}" style="text-decoration: none">New sale</a></button>
</body>
</html>