a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

td {
    padding: 5px;
}
table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
td.button {
    border: 0px;
}