<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body>
    <h2>Web Shop</h2>
    <ul>
        <li><a href="#" th:href="@{'index'}">Home</a></li>
        <li><a href="#" th:href="@{'customers'}">Customers</a></li>
        <li><a href="#" th:href="@{'products'}">Products</a></li>
        <li><a href="#" th:href="@{'sales'}">Sales</a></li>
    </ul>
</body>
</html>