<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/form-style.css" th:href="@{../../css/form-style.css}"/>
</head>
<body>
<h3>Customer</h3>
<div>
    <form th:object="${customer}" th:action="@{/customer/}" method="post">
        <div th:if="${#fields.hasAnyErrors()}">
            <p style="color: red">Please Correct Errors Below</p>
        </div>
        <input type="hidden" th:field="*{id}">

        <label>Name</label>
        <input type="text" th:field="*{name}" placeholder="Customer name..."/>
        <span th:if="${#fields.hasErrors('name')}">
            <ul>
                <li style="color: red" th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
            </ul>
        </span>

        <label>Email</label>
        <input type="text" th:field="*{email}" placeholder="Email..."/>
        <span th:if="${#fields.hasErrors('email')}">
            <ul>
                <li style="color: red" th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
            </ul>
        </span>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>