<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/table-style.css" th:href="@{css/table-style.css}">
</head>
<body>
    <h2>Customers</h2>
    <ul>
        <li><a href="#" th:href="@{'index'}">Home</a></li>
        <li><a href="#" th:href="@{'customers'}">Customers</a></li>
        <li><a href="#" th:href="@{'products'}">Products</a></li>
        <li><a href="#" th:href="@{'sales'}">Sales</a></li>
    </ul>
    <div th:if="${not #lists.isEmpty(customers)}">
        <h3>All customers</h3>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Total</td>
            </tr>
            </thead>
            <tr th:remove="all">
                <td>100</td>
                <td>First Customer</td>
                <td>1st@mail.com</td>
                <td>1000.00</td>
                <td class="button"><button><a href="#">Edit</a></button></td>
                <td class="button"><button><a href="#">Delete</a></button></td>
            </tr>
            <tr th:remove="all">
                <td>200</td>
                <td>Second Customer</td>
                <td>2nd@mail.com</td>
                <td>2000.0</td>
                <td class="button"><button><a href="#">Edit</a></button></td>
                <td class="button"><button><a href="#">Delete</a></button></td>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}">300</td>
                <td th:text="${customer.name}">Third Customer</td>
                <td th:text="${customer.email}">3rd@mail.com</td>
                <td th:text="${customer.total}">3000.0</td>
                <td class="button"><button><a href="#" th:href="@{'/customer/' + ${customer.id} + '/edit'}">Edit</a></button></td>
                <td class="button"><button><a href="#" th:href="@{'/customer/' + ${customer.id} + '/delete'}">Delete</a></button></td>
            </tr>
        </table>
    </div>
    <button style="margin-top: 5px;"><a href="productform.html" th:href="@{'customer/new'}" style="text-decoration: none">Add new customer</a></button>
</body>
</html>